@page "/"
@inject IStudent Student

<PageTitle>Home</PageTitle>

<h1>Student Manager App</h1>

Studenter:


<input @bind="name"/>
<input @bind="betyg"/>
<button class="btn btn-primary" @onclick="IStudent.addStudent(name, betyg)">Lägg till student</button>
<button class="btn btn-primary" @onclick="IStudent.removeStudent(name)">Ta bort student</button>

@code {
    
string name = string.Empty;
int betyg = 0;


}