@page "/"
@inject IStudentService StudentService

<PageTitle>Home</PageTitle>

<h1>Student Manager App</h1>

Studenter:


<input @bind="name"/>
<input @bind="betyg"/>
<button class="btn btn-primary" @onclick="() => StudentService.addStudent(name, betyg)">Lägg till student</button>
<button class="btn btn-primary" @onclick="() => StudentService.removeStudent(name)">Ta bort student</button>

@code {
    string name = string.Empty;
    int betyg = 0;
}