@page "/"
@inject IStudent Student

<PageTitle>Home</PageTitle>

<h1>Student Manager App</h1>

<ul>Studenter:</ul>
<li>
    
</li>



<input @bind="name" placeholder="Name of student"/>
<input @bind="betyg" placeholder="Betyg"/>
<button class="btn btn-primary" @onclick="IStudent.addStudent(name, betyg)">Lägg till student</button>
<button class="btn btn-primary" @onclick="IStudent.removeStudent(name)">Ta bort student</button>

@code {
    
string name = string.Empty;
int betyg = 0;


}